{% extends 'base.html' %}
{% load static %}

{% block title %}
    CD-Detail
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'shared-app/css/cd.css' %}">
{% endblock %}

{% block content %}

    <div class="max">

      <h2>Detail</h2>

      <form action="{% url 'shared-app:course-data-detail' obj.id %}" method="POST">
        {% csrf_token %}

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{obj.name}}"/>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50">{{obj.description}}</textarea>

        <label for="language">Language:</label>
        <select name="language" id="language">
            <option value="">-------</option>
            {% for pl in pl_obj %}
            <option value="{{pl.id}}" {% if pl in obj.programming_languages.all %} selected {% endif %}>{{pl.name}}</option>
            {% endfor %}
          </select><br>

        <label for="framework">Framework:</label>
        <select name="framework" id="framework" multiple>
            <option value="">-------</option>
            {% for fw in fw_obj %}
            <option value="{{fw.id}}" {% if fw in obj.frameworks.all %} selected {% endif %}>{{fw.name}}</option>
            {% endfor %}
          </select><br>

        <label for="duration_in_weeks">Duration (in weeks):</label>
        <input type="number" id="duration_in_weeks" name="duration_in_weeks" value="{{obj.duration_in_weeks}}" />

        <label for="total_fee">Total Fee:</label>
        <input type="number" id="total_fee" name="total_fee" value="{{obj.total_fee}}" />

    
        <div class="backBtn">
          <a href="{% url 'shared-app:course-data-list' %}">Back</a>
        </div>

      </form>
    </div>

{% endblock %}