{% extends 'base.html' %}
{% load static %}

{% block title %}
    CD-List
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'shared-app/css/cd.css' %}">
{% endblock %}

{% block content %}


        <div class="main">
            
         <h4>Welcome, {{ request.user.first_name }} {{ request.user.last_name }}!, Year is: {{ current_year }}</h4>

            <h1>List of Courses</h1>

            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>

            <div class="box">
                <table class="custom-table" border="1">
                    <thead>
                        <th>S no.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Duration(in weeks)</th>
                        <th>Price(₹)</th>
                        <th>Action</th>
                        
                    </thead>

                    <tbody>
                        {% for obj in data %}
                        <br>
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{obj.name}}</td>
                            <td>{{obj.description}}</td>
                            <td>{{obj.duration_in_weeks}}</td>
                            <td>{{obj.total_fee}}</td>
                            
                            <td>
                                <a href="{% url 'shared-app:course-data-update' obj.id %}" class="btn btn-sm btn-primary">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="{% url 'shared-app:course-data-detail' obj.id %}" class="btn btn-sm btn-primary">
                                    <i class="fas fa-eye"></i>
                                </a>

                                <form action="{% url 'shared-app:course-data-delete' obj.id %}" method="post" class="delete-form delete-form-{{ obj.id }}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class=" btn-danger btn-sm">🗑️</button>
                                </form>
             
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>

                </div>

                <div id="add">
                <a href="{% url 'shared-app:course-data-add' %}">Add new</a>
                </div>

                <div id="back">
                    <a href="{% url 'accounts:home' %}">Back</a>
                </div>

            </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
    // Target all forms with class starting with "delete-form"
    $('form.delete-form').on('submit', function (e) {
      e.preventDefault(); // stop form from submitting

      const currentForm = this;

      Swal.fire({
        title: 'Are you sure?',
        text: "This will delete the item permanently!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'Cancel'
      }).then((result) => {
        if (result.isConfirmed) {
          currentForm.submit(); // submit after confirmation
          console.log("want to delete")
        }
        else{
            console.log("don't want to delete.")
        }
      });
    });
  });
</script>

{% endblock %}
