{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="main">

    <style>
        .messages {
         list-style: none;
         padding: 0;
         text-align: center;
     }
    .messages li {
         padding: 10px;
         margin-bottom: 5px;
    }
    .success {
         color: #155724 !important;
     }
    .error {
        color: #721c24 !important;
     }
    </style>

    <h4>Welcome, {{ user.username }}!</h4>
    <!-- <h5>is_admin : {{is_admin}}</h5>
    <h5>is_hr : {{is_hr}}</h5>
    <h5>is_student : {{is_student}}</h5>
    <h5>is_teacher : {{is_teacher}}</h5> -->

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <h2>This is Home page</h2>

    <br><br>

    <div>
        <h5>Total Students: {{se_obj}}</h5>
    </div>

    <div>
        <h5>Programming Languages: {{pl_obj}}</h5>
    </div>

    <div>
        <h5>Frameworks: {{fw_obj}}</h5>
    </div>

    <div>
        <h5>Total Enquiries: {{te_obj}}</h5>
    </div>

</div>
{% endblock %}
