body {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    }

    h2 {
    text-align: center;
    margin-top: 30px;
    color: #333;
    }

    .max {
    max-width: 600px;
    margin: 50px auto;
    margin-left: 500px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
    }

    input[type="text"],
    textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: vertical;
    }

    .btn {
    text-align: center;
    }

    button {
    background-color: #85c5ed;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

    button:hover {
    background-color: #85c5ed;
    }

    .backBtn {
    text-align: center;
    margin-top: 15px;
    }

    h4{
        text-align: center;
    }


.messages{
    list-style: none;
    padding: 0;
}
.messages li {
    padding: 10px;
    margin-bottom: 5px;
}
.success {
    background-color: #d4edda;
    color: #155724 !important;
}
.error {
    background-color: #f8d7da;
    color: #721c24 !important;
}