<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h1{
            text-align: center;
            display: flex;
            justify-content: center;
            font-family: sans-serif;
            line-height: 1.5;
            min-height: 30vh;
            background: white;
            flex-direction: column;
            margin: 0;
            color: #4CAF50;
        }

        a{
            text-align: center;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>This is home page</h1><br><br>

    <div>
    <a href="{% url 'stu-list' %}">Manage Student</a>
    </div>

</body>
</html>