{% extends 'base.html' %}
{% load static %}

{% block title %}
    Fw-detail
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'shared-app/css/fw.css' %}">
{% endblock %}

{% block content %}
<style>
    input[type="text"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }
</style>

<div class="max">

    <h2>Detail</h2>
    <form action="{% url 'shared-app:framework-detail' obj.id %}" method="POST">
        {% csrf_token %}

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{obj.name}}"><br><br>

        <label for="description">Description:</label><br>
        <textarea name="description" id="description" rows="4" cols="50">{{obj.description}}</textarea><br><br>

        <label for="language">Language:</label>
        <select name="language" id="language">
            <option value="Python">Python</option>
            <option value="C">C</option>
            <option value="C++">C++</option>
            <option value="Java">Java</option>
        </select>

        <div class="backBtn">
          <a href="{% url 'shared-app:framework-list'%}">Back</a>
        </div>
        
    </form>
</div>


{% endblock %}
