{% extends 'base.html' %}

{% block title %}
    TE-delete
{% endblock %}

{% block content %}

<style>
    

        h1 {
            text-align: center;
            color: #85c5ed;
        }

        .button-group {
            margin-top: 20px;
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .messages {
            list-style: none;
            padding: 0;
            margin: 20px auto;
            text-align: center;
            width: fit-content;
        }
        
    .max {
        max-width: 600px;
        margin: 50px auto;
        margin-left: 500px;
        margin-top: 200px;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
        

        a {
            background-color: white;
            color: #000;
            border-radius: 4px;
        }
.messages{
    list-style: none;
    padding: 0;
}
.messages li {
    padding: 10px;
    margin-bottom: 5px;
}
.success {
    background-color: #d4edda;
    color: #155724 !important;
}
.error {
    background-color: #f8d7da;
    color: #721c24 !important;
}
    </style>

    <div class="max">

        <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>

    <form action="{% url 'shared-app:training-enquiry-delete' obj.pk %}" method="post">
        {% csrf_token %}
        <h1>Are you sure to delete this?</h1>
        <div class="button-group">
            <button type="submit">Yes</button>
            <a href="{% url 'shared-app:training-enquiry-list' %}">No</a>
        </div>
    </form>
</div>

{% endblock %}