{% extends 'base.html' %}
{% load static %}

{% block title %}
    TE-details
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'shared-app/css/te.css' %}">
{% endblock %}

{% block content %}
  
<div class="max">
      <h2>Detail</h2><br>

      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      
      <form action="{% url 'shared-app:training-enquiry-detail' obj.id %}" method="POST">
        {% csrf_token %}

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{obj.first_name}}" />

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{obj.last_name}}" />

        <label for="address">Address:</label>
        <textarea name="address" id="address" rows="4" cols="50">{{obj.address}}</textarea>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{obj.email}}" />

        <label for="phone">Phone:</label>
        <input type="number" id="phone" name="phone" value="{{obj.phone}}"/>

        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="{{obj.gender}}">

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50">{{obj.description}}</textarea>

        <label for="higher_qualification">Higher Education:</label>
        <input type="text" id="higher_qualification" name="higher_qualification" value="{{obj.higher_qualification}}">

        <label for="course">Course:</label>
        <input type="text" id="course" name="course" value="{{obj.course}}">

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="{{obj.status}}"><br>


        <div class="backBtn">
          <a href="{% url 'shared-app:training-enquiry-list' %}">Back</a>
        </div>

      </form>
    </div>

{% endblock %}