{% extends 'base.html' %}
{% load static %}

{% block title %}
    TE-update
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'shared-app/css/te.css' %}">
{% endblock %}

{% block content %}
  
<div class="max">
 
      <h2>Update</h2><br>

      <form action="{% url 'shared-app:training-enquiry-update' obj.id %}" method="POST">
        {% csrf_token %}

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{obj.first_name}}" />

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{obj.last_name}}" />

        <label for="address">Address:</label>
        <textarea name="address" id="address" rows="4" cols="50">{{obj.address}}</textarea>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{obj.email}}" />

        <label for="phone">Phone:</label>
        <input type="number" id="phone" name="phone" value="{{obj.phone}}"/>

        <label for="gender">Gender:</label>
        <select name="gender" id="gender">
            <option value="">-----</option>
            <option value="Male" {% if obj.gender == 'Male' %} selected {% endif %} >Male</option>
            <option value="Female" {% if obj.gender == 'Female' %} selected {% endif %}>Female</option>
        </select>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50">{{obj.description}}</textarea>


        <label for="higher_qualification">Higher Qualification:</label><br>
        <input type="text" id="higher_qualification" name="higher_qualification" value="{{obj.higher_qualification}}">


        <label for="course">Course:</label>
        <select name="course" id="course">
            {% for cd in cd_obj %}
            <option value="{{cd.id}}" {% if obj.course.id == cd.id %} selected {% endif %}>{{cd.name}}</option>
            {% endfor %}
          
        </select>

        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="">-------</option>
            <option value="Enquiry"{% if obj.status == 'Enquiry' %} selected {% endif %}>Enquiry</option>
            <option value="In Progress"{% if obj.status == 'In Progress' %} selected {% endif %}>In Progress</option>
            <option value="Started"{% if obj.status == 'Started' %} selected {% endif %}>Started</option>
            <option value="Completed"{% if obj.status == 'Completed' %} selected {% endif %}>Completed</option>
            <option value="Dropped"{% if obj.status == 'Dropped' %} selected {% endif %}>Dropped</option>
        </select><br>

        
        <div class="btn">
          <button type="submit">Update</button>
        </div>


        <div class="backBtn">
          <a href="{% url 'shared-app:training-enquiry-list' %}">Back</a>
        </div>

      </form>
    </div>


{% endblock %}